###Data Cleaning with Pandas

###Cleaning duplicate data from an Online Retail store

###DATA.DROP_DUBLİCATES (SUBSET=[........],KEEP='RİGHT-LEFT-ALL',İNPLACE=FALSE)

In [ ]:
## Importing the libraries

#to read the dataframe
import pandas as pd

In [ ]:
## Reading the dataset as a dataframe

# Reading dataframe
df = pd.read_csv('OnlineRetail.csv')

In [ ]:
df.head()

In [ ]:
## Discovering the dataset *****

#show the number of cells in the dataframe
print("dataset size: ", df.size)

#show the number of records (rows) in the dataframe
print("number of talks: ", len(df))

#show the number of features (coulmns) in the dataframe
print("number of features: ", len(df.columns))

In [ ]:
df.dtypes

df.columns

df.shape

df.info()

df.describe().T

df.isnull().sum()

df.nunique()

df.tail()

In [ ]:
## Basic Activities
##Let's start with a few simple activities regarding discovering duplicates and dropping them.

In [ ]:
#### 4- Select duplicate rows in a dataframe from the dataset

# Create a new DataFrame with only the duplicate rows
duplicate_rows = df[df.duplicated(keep='first')]

In [ ]:
#### 4- Select duplicate rows in a dataframe from the dataset

duplicate_rows = df[df.duplicated()]

In [ ]:
#### 5- How many duplicate rows in the dataset?

duplicate_rows.shape[0]

In [ ]:

#### 6- Find and drop duplicate rows based on InvoiceNo, StockCode, Quantity, and UnitPrice columns

df_without_duplicate_orders = df.drop_duplicates(subset=['InvoiceNo', 'StockCode', 'Quantity', 'UnitPrice'], inplace=False)


#### 7- Drop duplicates while keeping the first non-NaN value based on InvoiceNo, StockCode, and CustomerID columns

df_keep_first = df.drop_duplicates(
                                  subset=['InvoiceNo', 'StockCode', 'CustomerID'], 
                                  keep='first', inplace=False)

#### 8- Drop duplicates while keeping the last order based on StockCode and InvoiceWeekday columns

# Convert InvoiceDate column to datetime
df_weekday = df

df_weekday['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

# Create a new column for weekday
df_weekday['InvoiceWeekday'] = df['InvoiceDate'].dt.weekday


# Drop duplicates based on StockCode and InvoiceWeekday
df_unique_stock_day = df_weekday.drop_duplicates(subset=['StockCode', 'InvoiceWeekday'], 
                                                 keep='last', 
                                                 inplace=False)

## Continue Activities

#### 9- Drop all duplicate invoices

#Imagine it is black friday and each customer is allowed to buy only at one invoice. So, we need to drop all the duplicate invoices.Perform the dropping and store the results in the variable df_black_friday.

df_black_friday = df.drop_duplicates(subset=['InvoiceNo'], keep=False, inplace=False)


#### 10- Drop duplicate countries while keeping the first row

df_unique_countries = df.drop_duplicates(subset=['Country'], keep='first', inplace=False)


#### 11- Drop duplicate products while keeping last based on StockCode, Description, and UnitPrice

df_unique_products = df.drop_dublicates(subset=['StockCode','Description','UnitPrice'],keep='last',inplace=False)

df_unique_products = df.drop_duplicates(subset=['StockCode', 'Description', 'UnitPrice'], keep='last', inplace=False)


#### 12- Drop all duplicate rows based on TotalCost and CustomerID while keeping first

df_cost = df

# Create a new column for TotalCost
df_cost['TotalCost'] = df_cost['Quantity']*df_cost['UnitPrice']

df_customer_unique_payments = df_cost.drop_dublicates(subset=['TotalCost','CustomerID'],
                                                     keep='first',
                                                     inplace=True)

df_customer_unique_payments = df_cost.drop_duplicates(subset=['TotalCost', 'CustomerID'], keep='first', inplace=False)


#### 13- Drop all duplicate rows while keeping first

df_unique = df.drop_dublicates(keep='first', inplace=False)

df_unique = df.drop_duplicates(inplace=False)