# Capstone Project ---COVİD 19 DATA YI BUL!! GLOBAL DEĞİL!

In [30]:
# import pandas library
import pandas as pd

In [44]:
### Activity 1: Read CSV File

# import pandas and read `covid.csv` file
df = pd.read_csv("covid.csv",index_col=[0])

In [45]:
df

,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
Date_reported,,,,,,,
2020-01-05,AF,Afghanistan,EMRO,NaN,0,NaN,0
2020-01-12,AF,Afghanistan,EMRO,NaN,0,NaN,0
2020-01-19,AF,Afghanistan,EMRO,NaN,0,NaN,0
2020-01-26,AF,Afghanistan,EMRO,NaN,0,NaN,0
2020-02-02,AF,Afghanistan,EMRO,NaN,0,NaN,0
...,...,...,...,...,...,...,...
2024-03-24,ZW,Zimbabwe,AFRO,NaN,266359,NaN,5740
2024-03-31,ZW,Zimbabwe,AFRO,NaN,266359,NaN,5740
2024-04-07,ZW,Zimbabwe,AFRO,NaN,266359,NaN,5740
2024-04-14,ZW,Zimbabwe,AFRO,NaN,266359,NaN,5740
2024-04-21,ZW,Zimbabwe,AFRO,NaN,266359,NaN,5740

In [46]:
### Activity 2: Select the correct shape

df.shape

(54000, 7)

In [47]:
### Activity 3: Select the correct datatype

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 54000 entries, 2020-01-05 to 2024-04-21
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country_code       53775 non-null  object
 1   Country            54000 non-null  object
 2   WHO_region         49950 non-null  object
 3   New_cases          37645 non-null  float64
 4   Cumulative_cases   54000 non-null  int64
 5   New_deaths         24620 non-null  float64
 6   Cumulative_deaths  54000 non-null  int64
dtypes: float64(2), int64(2), object(3)
memory usage: 3.3+ MB

In [48]:
df.head(10)

,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
Date_reported,,,,,,,
2020-01-05,AF,Afghanistan,EMRO,NaN,0,NaN,0
2020-01-12,AF,Afghanistan,EMRO,NaN,0,NaN,0
2020-01-19,AF,Afghanistan,EMRO,NaN,0,NaN,0
2020-01-26,AF,Afghanistan,EMRO,NaN,0,NaN,0
2020-02-02,AF,Afghanistan,EMRO,NaN,0,NaN,0
2020-02-09,AF,Afghanistan,EMRO,NaN,0,NaN,0
2020-02-16,AF,Afghanistan,EMRO,NaN,0,NaN,0
2020-02-23,AF,Afghanistan,EMRO,NaN,0,NaN,0
2020-03-01,AF,Afghanistan,EMRO,1.0,1,NaN,0
2020-03-08,AF,Afghanistan,EMRO,NaN,1,NaN,0

In [51]:
df.reset_index(inplace=True)

In [52]:
df

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-05,AF,Afghanistan,EMRO,NaN,0,NaN,0
1,2020-01-12,AF,Afghanistan,EMRO,NaN,0,NaN,0
2,2020-01-19,AF,Afghanistan,EMRO,NaN,0,NaN,0
3,2020-01-26,AF,Afghanistan,EMRO,NaN,0,NaN,0
4,2020-02-02,AF,Afghanistan,EMRO,NaN,0,NaN,0
...,...,...,...,...,...,...,...,...
53995,2024-03-24,ZW,Zimbabwe,AFRO,NaN,266359,NaN,5740
53996,2024-03-31,ZW,Zimbabwe,AFRO,NaN,266359,NaN,5740
53997,2024-04-07,ZW,Zimbabwe,AFRO,NaN,266359,NaN,5740
53998,2024-04-14,ZW,Zimbabwe,AFRO,NaN,266359,NaN,5740
53999,2024-04-21,ZW,Zimbabwe,AFRO,NaN,266359,NaN,5740

In [57]:
df= df.rename(columns={"Date_reported":"Date","Country_code":"country_code","Country":"country","WHO_region":"region","New_cases":"new_cases","New_deaths":"deaths"})

In [58]:
df

,Date,country_code,country,region,new_cases,Cumulative_cases,deaths,Cumulative_deaths
0,2020-01-05,AF,Afghanistan,EMRO,NaN,0,NaN,0
1,2020-01-12,AF,Afghanistan,EMRO,NaN,0,NaN,0
2,2020-01-19,AF,Afghanistan,EMRO,NaN,0,NaN,0
3,2020-01-26,AF,Afghanistan,EMRO,NaN,0,NaN,0
4,2020-02-02,AF,Afghanistan,EMRO,NaN,0,NaN,0
...,...,...,...,...,...,...,...,...
53995,2024-03-24,ZW,Zimbabwe,AFRO,NaN,266359,NaN,5740
53996,2024-03-31,ZW,Zimbabwe,AFRO,NaN,266359,NaN,5740
53997,2024-04-07,ZW,Zimbabwe,AFRO,NaN,266359,NaN,5740
53998,2024-04-14,ZW,Zimbabwe,AFRO,NaN,266359,NaN,5740
53999,2024-04-21,ZW,Zimbabwe,AFRO,NaN,266359,NaN,5740

In [59]:
df["deaths"].isna().sum()

29380

In [61]:
df["Cumulative_deaths"].isnull().sum()

0

In [62]:
### Activity 4: Find the minimum and maximum values

df["deaths"].median()

21.0

In [63]:
df["Cumulative_deaths"].max()

1186079

In [64]:
df["deaths"].describe().T

count    24620.000000
mean       286.203087
std       1223.265869
min      -3432.000000
25%          4.000000
50%         21.000000
75%        107.000000
max      47687.000000
Name: deaths, dtype: float64

In [65]:
### Activity 5: Total cases in the COVID-19 dataset

df["deaths"].sum()

7046320.0

In [69]:
df["deaths"].count()

24620

In [70]:
### Activity 6: Find the mean cases per day

round(df["new_cases"].mean(),2)

20596.74

In [72]:
### Activity 7: Select values from a dataframe using indexing

# Selecting values from a Dataframe using indexing.
df1 = df.loc[:,["region","country"]]

In [ ]:
### Activity 8: Drop columns from the dataframe
# ['iso_code', 'new_cases_smoothed', 'new_deaths_smoothed', 'total_cases_per_million', 'new_cases_per_million', 'new_cases_smoothed_per_million', 'total_deaths_per_million', 'new_deaths_per_million', 'new_deaths_smoothed_per_million']

df = df.drop(columns=['iso_code', 'new_cases_smoothed', 'new_deaths_smoothed', 'total_cases_per_million', 'new_cases_per_million', 'new_cases_smoothed_per_million', 'total_deaths_per_million', 'new_deaths_per_million', 'new_deaths_smoothed_per_million' ],axis=1)

In [ ]:
### Activity 9: Add more rows to a dataframe

new_data = {'continent': ['Africa'], 'location': ['Zimbabwe'], 'date': ['2022-12-07'], 'total_cases': [259356.0], 'new_cases': [192.0], 'total_deaths': [5622.0], 'new_deaths': [2.0], 'population_density': [42.729], 'median_age': [19.6], 'aged_65_older': [2.822], 'aged_70_older': [1.845], 'gdp_per_capita': [1899.767], 'cardiovasc_death_rate': [307.846], 'diabetes_prevalence': [1.85], 'life_expectancy': [61.55], 'population': [16320539.0]}
new_df= pd.DataFrame(new_data)
df= pd.concat([df,new_df],ignore_index= True)

In [ ]:
### Activity 10: Update a specific cell value in the COVID-19 dataset

# Update the value of the cell
df.loc[166620, 'total_cases'] = 259357.0

In [ ]:
### Activity 11: Update a multiple cell value in the COVID-19 dataset

df.loc[166618,"total_cases"] = 259357.0
df.loc[166619,"total_cases"]= 259358.0

In [ ]:
### Activity 12: Remove rows from the dataframe

df.drop([166619, 166620], inplace=True)

In [ ]:
df=df.drop ([166619,166620],axis=0)

In [ ]:
### Activity 13: Use `.loc` to select rows based on a condition

df_1m = df.loc[df["total_cases"] >= 1000000.0]

In [ ]:
### Activity 14: Select specific columns and rows

# Using .iloc to select specific columns and rows.
df_cases_death = df.iloc[[5168,5172,163703],[3,5]]

In [ ]:
### Activity 15: Sort COVID-19 data in ascending order

# Sorting COVID-19 data in ascending order.
df_sorted = df.sort_values(by="total_cases",ascending=True)

In [ ]:
### Activity 16: Sort COVID-19 data in descending order

df_sorted_desc = df.sort_values(by="total_cases",ascending=False)

In [ ]:
### Activity 17: Sort the COVID-19 data by multiple columns

# Sorting COVID-19 data by multiple columns.
df_sorted_multi = df.sort_values(by= ["total_cases","total_deaths"],ascending=[False,True])

In [ ]:
### Activity 18: Add new columns using arithmetic operations

#Create a new column named total_cases_population_density in the dataframe df by dividing the total_cases column by the population column.

df["total_cases_population_density"]= df["total_cases"] / df["population"]

In [ ]:
### Activity 19: Using vectorized operations to update a column

#multiplying each value in the column by 1000. This update should be made to the column that we created in the previous activity.

df["total_cases_population_density"] = df["total_cases"] / df["population"]*1000

In [ ]:
### Activity 20: Remove columns using `del` statement
#Remove the total_cases_population_density column from the df dataframe.

del df["total_cases_population_density"]

In [ ]:
### Activity 21: Rename columns

#Rename the total_cases column to Total Cases and the total_deaths column to Total Deaths.
df = df.rename(columns={'total_cases': 'Total Cases', 'total_deaths': 'Total Deaths'})

In [ ]:
### Activity 22: Filter COVID-19 data using boolean indexing
#Create three dataframe objects named df_india_china, df_range, and df_greater_new_cases by filtering the df dataframe object using boolean indexing as follows:For df_india_china, select all rows from the COVID-19 DataFrame where the location is either "India" or "China".For df_range, select all rows from the COVID-19 DataFrame where the number of new_cases is between 100000 and 200000.For df_greater_new_cases, select all rows from the COVID-19 DataFrame where the number of new_cases per day is greater than or equal to 10000.

df_india_china = df[(df["location"]=="India") | (df["location"]=="China")]
df_range = df[(df["new_cases"]>= 100000) & (df["new_cases"]<= 200000)]
df_greater_new_cases = df[df["new_cases"] >= 10000]

In [ ]:
#THE END!